/* app css stylesheet */

.bs-example {
	margin-left: 20px;
}
textarea {
	resize: none;
	margin-bottom: 5px;
}
html, body {
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
    height: 100%;
}

body:before {
    content: "";
    position: absolute;
    height: 100%; width: 100%;
    background: url('img/apple-chair-desk-996.jpg') no-repeat center;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    -webkit-filter: blur(7px);
}

.content {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 2;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
}

.left-tab-content {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.submit-clear {
	padding-top: 15px;
	text-align: right;
}
.nav-username {
	font-weight: bolder;
}
.nav-cursor {
	cursor:pointer;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.form-signin .checkbox {
	display:none;
	font-weight: normal;
	margin-bottom: 10px;
}
.form-signin .form-control {
	position: relative;
	width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.alert-center {
	text-align: center;
}
.table-bg-color {
	background-color: #FFF;
}
.text-emphasis {
	background-color: #E8E1E3;
}
.not-implement {
	display:none;
}
.jay-align-window {
	margin-right: 0px;
}

.icon {
	text-align: center;
}
.icon-href {
	text-decoration:none;
}
.icon-href:hover {
	text-decoration:none;
}


.jay-view {
	height: 100%;
}
.jay-login-view {
  	height: 90%;
}
.jay-login-form-view {
	height:100%;
	text-align: center;
}
.jay-login-form-view:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.jay-word-break {
	word-break: break-word;
}
.jay-line-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jay-table-layout {
	table-layout: fixed;
}
