<div class="jay-login-view">
  <div ng-controller="AdminUserCtrl" class="jay-login-form-view">
    <form class="form-signin content form-inline">
      <h2 class="form-signin-heading">Idea pools</h2>
      <label for="intpuUsername" class="sr-only">Email address</label>
      <input type="text" id="inputUser" class="form-control" placeholder="Username" ng-model="login.name" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="login.password" required>
      <div class="checkbox not-implement">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logIn(login.name, login.password)">Sign in</button>
      <div class="alert alert-danger alert-center" role="alert" ng-if="showError()">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{errMsg}}
      </div>
    </form>
  </div>
  <div class="icon">
    <a href="mailto:sfffaaa@gmail.com" class="icon-href">
        <span class="fa-stack fa-lg fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/pub/hsin-chieh-pan/31/336/a14" class="icon-href">
      <span class="fa-stack fa-lg fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
</div>
