<nav class="navbar navbar-default" ng-controller="AdminUserCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-username">Idea pools</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a><b class="nav-username">{{username}}</b></a></li>
        <li><button type="button" class="btn btn-default navbar-btn" data-target="#" data-toggle="dropdown" ng-click="logOut()">Logout</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="bs-example jay-word-break">

  <div class="row jay-align-window" ng-controller="tabController">
    <div class="col-sm-2">
      <ul id="moduleTab" class="nav nav-pills nav-stacked text-right col-sm-10 col-sm-offset-3"  style="font-size:16px;">
        <li role="presentation" ng-class="{active: isSelected(0)}">
          <a class="nav-cursor" data-target="#OverviewTab" data-toggle="tab" ng-click="selectTab(0)"><i class="fa fa-leaf fa-1x"></i> Overview</a>
        </li>
        <li role="presentation" ng-class="{active: isSelected(1)}">
          <a class="nav-cursor" data-target="#QuestionTab" data-toggle="tab" ng-click="selectTab(1)"><i class="fa fa-question"></i> Question</a>
        </li>
        <li role="presentation" ng-class="{active: isSelected(2)}">
          <a class="nav-cursor" data-target="#ObserveTab" data-toggle="tab" ng-click="selectTab(2)"><i class="fa fa-neuter"></i> Observe</a>
        </li>
        <li role="presentation" ng-class="{active: isSelected(3)}">
          <a class="nav-cursor" data-target="#IdeaTab" data-toggle="tab" ng-click="selectTab(3)"><i class="fa fa-lightbulb-o"></i> Idea</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        <div id="OverviewTab" class="left-tab-content tab-pane fade in" ng-class="{active: isSelected(0)}" ng-controller="overviewController">
          <h5>What kind of action do you want?</h5>
          <select selectpicker="{iconBase: 'fa', tickIcon: 'fa-check'}" ng-model="selected" required>
            <option value="{{option.value}}" ng-repeat="option in selectType" data-icon="{{option.icon}}">{{option.name}}</option>
          </select>
          <div id="idea-view" ng-show="isSelectIdea(selected)">
            <div id="random-idea">
              <p></p>
              <p ng-if="!isRandomNounLoaded()"><i class="fa fa-spinner fa-pulse"></i> Loading</p>
              <p ng-if="isRandomNounLoaded()"> You can use below nouns, <span class="text-danger text-emphasis"><strong> "{{randomNounsStr}}"</strong></span> to get a new idea for question, <span class="text-danger text-emphasis"><strong> "{{randomQuestionStr}}" </strong></span>.
              </p>
              <button type="button" class="btn btn-primary" ng-click="clickRegenerate()" ng-disabled="!isRandomNounLoaded()"><i class="fa fa-refresh"></i> Regenerate</button>
            </div>
            <form role="form" name="ideaTextform" novalidate>
              <p></p>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                    <label for="idea" class="control-label">Idea</label>
                  </div>
                  <div class="col-sm-11">
                    <textarea class="form-control" type="text" rows="5" ng-model="ideaToday" placeholder="Enter the new idea you think in your mind" required ng-disabled="!isRandomNounLoaded()"></textarea>
                  </div>
                </div>
                <div class="submit-clear">
                  <button type="submit" class="btn btn-success" ng-click="clickIdeaSubmit()" ng-disabled="ideaTextform.$invalid || !isRandomNounLoaded()"><i class="fa fa-check"></i> Submit</button>
                  <button type="button" class="btn btn-warning" ng-click="clickIdeaClear()" ng-disabled="ideaTextform.$invalid || !isRandomNounLoaded()"><i class="fa fa-times"></i> Clear</button>
                </div>
              </div>
            </form>
          </div>
          <div id="observe-view" ng-show="isSelectObserve(selected)">
            <form role="form" name="observeTextform" novalidate>
              <p></p>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-1">
                    <label for="observe">Observe</label>
                  </div>
                  <div class="col-sm-11">
                    <textarea class="form-control" type="text" rows="5" ng-model="observeToday" placeholder="Enter the observe you get" required></textarea>
                  </div>
                </div>
                <div class="submit-clear">
                  <button type="submit" class="btn btn-success" ng-click="clickObserveSubmit()" ng-disabled="observeTextform.$invalid"><i class="fa fa-check"></i> Submit</button>
                  <button type="button" class="btn btn-warning" ng-click="clickObserveClear()" ng-disabled="observeTextform.$invalid"><i class="fa fa-times"></i> Clear</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="QuestionTab" class="left-tab-content tab-pane fade in" ng-class="{active: isSelected(1)}" ng-controller="questionController">
          <button type="button" class="btn btn-primary" ng-disabled="!isDetailBtnEnable()" ng-click="clickDetailBtn()"><i class="fa fa-info-circle"></i> Detail</button>
          <button type="button" class="btn btn-primary" ng-disabled="!isAddBtnEnable()" ng-click="clickAddBtn()"><i class="fa fa-plus"></i> Add</button>
          <button type="button" class="btn btn-primary" ng-disabled="!isEditBtnEnable()" ng-click="clickEditBtn()"><i class="fa fa-pencil fa-fw"></i> Edit</button>
          <button type="button" class="btn btn-danger" ng-disabled="!isDeleteBtnEnable()" ng-click="clickDeleteBtn()"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
          <p></p>
          <table class="table table-bordered table-bg-color jay-table-layout">
            <thead>
              <tr>
                <th>Question</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="question in questions.slice(((currentPage-1)*itemsPerPage),(currentPage*itemsPerPage)) track by question.qid" ng-class="{'active':isSelectedRow($index)}" ng-click="setClickedRow($index)">
                <td class="jay-line-overflow">{{ question.question }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <pagination total-items="questions.length" ng-model="currentPage" items-per-page="itemsPerPage" max-size="5" boundary-links="true"></pagination>
          </div>
        </div>
        <div id="ObserveTab" role="tabpanel" class="left-tab-content tab-pane fade in" ng-class="{active: isSelected(2)}" ng-controller="observeController">
          <button type="button" class="btn btn-primary" ng-disabled="!isDetailBtnEnable()" ng-click="clickDetailBtn()"><i class="fa fa-info-circle"></i> Detail</button>
          <button type="button" class="btn btn-info not-implement" ng-disabled="!isStatisticBtnEnable()" ng-click="clickStatisticBtn()"><i class="fa fa-bar-chart"></i> Statistic</button>
          <p></p>
          <table class="table table-bordered table-bg-color jay-table-layout">
            <thead>
              <tr>
                <th class="col-md-2">Time</th>
                <th class="col-md-10">Observe</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="observe in observes.slice(((currentPage-1)*itemsPerPage),(currentPage*itemsPerPage)) track by observe._id" ng-class="{'active':isSelectedRow($index)}" ng-click="setClickedRow($index)">
                <td class="jay-line-overflow">{{ observe.time }}</td>
                <td class="jay-line-overflow">{{ observe.observe }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <pagination total-items="observes.length" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" max-size="5" boundary-links="true"></pagination>
          </div>
        </div>
        <div id="IdeaTab" role="tabpanel" class="left-tab-content tab-pane fade in"  ng-class="{active: isSelected(3)}" ng-controller="ideaController">
          <button type="button" class="btn btn-primary" ng-disabled="!isDetailBtnEnable()" ng-click="clickDetailBtn()"><i class="fa fa-info-circle"></i> Detail</button>
          <button type="button" class="btn btn-info not-implement" ng-disabled="!isStatisticBtnEnable()" ng-click="clickStatisticBtn()"><i class="fa fa-bar-chart"></i> Statistic</button>
          <p></p>
          <table class="table table-bordered table-bg-color jay-table-layout">
            <thead>
              <tr>
                <th class="col-md-2">Time</th>
                <th class="col-md-7">Idea</th>
                <th class="col-md-3">Question</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="idea in ideas.slice(((currentPage-1)*itemsPerPage),(currentPage*itemsPerPage)) track by idea.ideaid" ng-class="{'active':isSelectedRow($index)}" ng-click="setClickedRow($index)">
                <td class="jay-line-overflow">{{ idea.time }}</td>
                <td class="jay-line-overflow">{{ idea.idea }}</td>
                <td class="jay-line-overflow">{{ idea.qname }}</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <pagination total-items="ideas.length" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" max-size="5" boundary-links="true"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>